@font-face { font-family: proxima; src: url(proxima/reg.woff); }
@font-face { font-family: proxima; font-weight: bold; src: url(proxima/bold.woff); }


*{
font-family: proxima;
}


body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

a:visited {
  text-decoration: none;
  color: #3897f0;
  font-family: proxima;
}

a{
  text-decoration: none;
  font-family: proxima;
}

body{
  background-color: #fafafa;
}

.footer{
  width: 100%;
}

.center{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
}

.center2{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 850px;
}

.center2 p{
font-family: proxima;
}

.vasak{
background-image: url("imgs/iphone.png");
height: 618px;
width: 454px;
margin-top: 3%;
display: inline-block;
}

#iphonesisu{
  margin-top: 99px;
  margin-left: 151px;
}

.parem{
  width: 270px;
  height: 275px;
  display: inline-block;
  background-color: white;
  text-align: center;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  margin-top: 135px;

}

.paremlogo{
  background: url('imgs/bgr.png') no-repeat -490px -8px;
  width: 213px;
  height: 62px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}





.hallikas{
  color: gray;
  font-family: proxima;
}

p.hallikas{
  font-size: 13px;
  font-family: proxima;
}

.spritefblogo {
	background: url('imgs/icons.png') no-repeat -465px -321px;
	width: 32px;
	height: 32px;
}

.footer p{
  display: inline-block;
  text-transform: uppercase;
  padding: 5px;
  font-family: proxima;
}
#playstore{
  height: 40px;
  width: 115px;
}

#appstore{
  height: 40px;
  width: 130px;
}

.app{
  text-align: center;
  position: absolute;
  margin-left: 3%;
}

.app p{
font-family: proxima;
}

.maininput{
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 9px;
  width: 93%;
  margin-bottom:5px;
}



.footer {
  margin-top: 65px;
  position: absolute;
  font-size: 12px;
}

.footer span{
  padding-left: 30%;
}

.footer p:nth-child(1){
  margin-left: 10%;
}

p.footer{
  padding-left: 10px;
}

.nupukas{
  height: 35px;
  width: 100%;
  color:white;
  background-color: #3897f0;
  border-radius: 2px;
  border: none;
  margin-top: 5px;
  font-weight: bold;
  font-family: proxima;
}
